.card{
    background-color: $grey;
    width: 258px;
    height: 315px;
    border-radius: 5px;
    transition: transform ease-in-out 0.05s;
    position: relative;
}

.card-image{
    border-radius: 5px;
    display: none;
}

.card:hover{
    transform: scale(1.05);
    cursor:pointer;
    .card-overlay{
      display: block;
    }
}

.card-overlay{
  position: absolute;
  width: 258px;
  height: 315px;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  padding:0.5rem;
  text-align: end;
  display: none;
  border-radius: 5px;
}

.card-overlay-text{
  color:white;
  font-size: 1.15rem;
}

.spinner {
    margin: 135px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #00adb5, 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.5), -1.8em -1.8em 0 0em rgba(0,173,181, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.7), 1.8em -1.8em 0 0em #00adb5, 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.5), 1.8em -1.8em 0 0em rgba(0,173,181, 0.7), 2.5em 0em 0 0em #00adb5, 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.5), 2.5em 0em 0 0em rgba(0,173,181, 0.7), 1.75em 1.75em 0 0em #00adb5, 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.5), 1.75em 1.75em 0 0em rgba(0,173,181, 0.7), 0em 2.5em 0 0em #00adb5, -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.5), 0em 2.5em 0 0em rgba(0,173,181, 0.7), -1.8em 1.8em 0 0em #00adb5, -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.5), -1.8em 1.8em 0 0em rgba(0,173,181, 0.7), -2.6em 0em 0 0em #00adb5, -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.5), -2.6em 0em 0 0em rgba(0,173,181, 0.7), -1.8em -1.8em 0 0em #00adb5;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #00adb5, 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.5), -1.8em -1.8em 0 0em rgba(0,173,181, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.7), 1.8em -1.8em 0 0em #00adb5, 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.5), 1.8em -1.8em 0 0em rgba(0,173,181, 0.7), 2.5em 0em 0 0em #00adb5, 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.5), 2.5em 0em 0 0em rgba(0,173,181, 0.7), 1.75em 1.75em 0 0em #00adb5, 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.5), 1.75em 1.75em 0 0em rgba(0,173,181, 0.7), 0em 2.5em 0 0em #00adb5, -1.8em 1.8em 0 0em rgba(0,173,181, 0.2), -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.5), 0em 2.5em 0 0em rgba(0,173,181, 0.7), -1.8em 1.8em 0 0em #00adb5, -2.6em 0em 0 0em rgba(0,173,181, 0.2), -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.5), -1.8em 1.8em 0 0em rgba(0,173,181, 0.7), -2.6em 0em 0 0em #00adb5, -1.8em -1.8em 0 0em rgba(0,173,181, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(0,173,181, 0.2), 1.8em -1.8em 0 0em rgba(0,173,181, 0.2), 2.5em 0em 0 0em rgba(0,173,181, 0.2), 1.75em 1.75em 0 0em rgba(0,173,181, 0.2), 0em 2.5em 0 0em rgba(0,173,181, 0.2), -1.8em 1.8em 0 0em rgba(0,173,181, 0.5), -2.6em 0em 0 0em rgba(0,173,181, 0.7), -1.8em -1.8em 0 0em #00adb5;
    }
  }


