.error-container{
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    margin-top: 30vh;
    color:$turquoise;
}

.error-code{
    font-size: 3rem;
}

.error-title{
    font-size: 2.5rem;
}