.header-container{
    background-color: $black;
    position: sticky;
    top:0;
    z-index:2;
}

.header{
    background-color: $black;
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
}

.header-title{
    color:$turquoise;
    text-decoration: none;
    font-size: 1.5rem;
}

.header-title:hover{
    opacity: 0.9;
    cursor: pointer;
}