.screenshot{
    border-radius: 5px;
    transition: transform ease-in-out 0.05s;
    width: 100%;
    height: 100%;
    background-color: $grey;
}

.screenshot-image{
    width: 100%;
    height: 100%;
    display:none;
}

.screenshot:nth-child(3n){
    grid-column: span 2 /auto;
    grid-row: span 1 /auto;
}

.screenshot:hover{
    cursor: pointer;
    transform: scale(1.02);
}