.screenshots-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
    margin: auto;
    grid-gap:1rem;
    padding:1rem;
}

@media (max-width:650px){
    .screenshots-container{
        display: flex;
        flex-direction: column;
    }
}