@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './settings/settings';
@import './base/base';
@import './components/Header.scss';
@import './components/ErrorPage.scss';
@import './components/MainPage.scss';
@import './components/Card.scss';
@import './components/ScreenshotsPage.scss';
@import './components/Screenshot.scss';