*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    background-color: $dark-grey;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
::-webkit-scrollbar-track {
    background-color:$black;
  }
  
  
::-webkit-scrollbar-thumb {
    background-color:$turquoise;
  }
  
::-webkit-scrollbar-thumb:hover {
    opacity:0.9;
  }